<div class="py-[2rem]">
  <div class="gap-2 flex pb-[1rem]">
    <h1 class="lg:text-2xl text-lg flex items-center font-bold">
      <span> Reports </span>
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="main-grid-item-icon font-bold"
          fill="none"
          stroke="#1889F1 "
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="4"
        >
          <polyline points="9 18 15 12 9 6" />
        </svg>
      </span>
    </h1>
    <h1 class="lg:text-2xl text-lg font-bold">Shop Insights</h1>
  </div>
  <div class="bg-[#1889F1] w-[70px] py-[1px]"></div>
</div>
