<app-navbar></app-navbar>

<div class="flex lg:gap-10">
  <div class="hidden lg:block">
    <app-sidebar-filters></app-sidebar-filters>
  </div>
  <div class=" w-full px-4 lg:px-8">
   <div class="grid  grid-cols-1 lg:grid-cols-3 lg:gap-5 pt-[1rem]">
    <div class="col-span-2">
    <app-shop-insights-cards-section></app-shop-insights-cards-section>

    </div>
    <div >
    <app-shop-insights-search-section></app-shop-insights-search-section>

    </div>
   </div>
    <app-payments-overview></app-payments-overview>
  </div>
</div>
