<div class="pt-[3rem] pb-[3rem] lg:mx-3">
  <!-- header section -->

  <div class="lg:flex justify-between">
    <div>
      <h1
        class="text-[#374151] font-md text-lg lg:text-2xl py-3 lg:py-0 font-semibold"
      >
        Payments Overview
      </h1>
    </div>
    <div class="flex lg:flex-row justify-between gap-5 items-center py-4">
      <div class="flex flex-row gap-3 text-[#4B5563] text-sm lg:text-lg">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="main-grid-item-icon"
          fill="none"
          stroke="#4B5563"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <polyline points="8 17 12 21 16 17" />
          <line x1="12" x2="12" y1="12" y2="21" />
          <path d="M20.88 18.09A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.29" />
        </svg>

        <h1 class="hidden lg:block">Export</h1>
      </div>
      <div
        class="bg-blue-500 text-sm lg:text-lg p-1 items-center flex flex-row lg:px-5 gap-3 rounded-lg"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="18"
          height="18"
          class="main-grid-item-icon"
          fill="none"
          stroke="white"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <line x1="12" x2="12" y1="5" y2="19" />
          <line x1="5" x2="19" y1="12" y2="12" />
        </svg>

        <h1 class="text-white whitespace-nowrap">Payment Link</h1>
      </div>
    </div>
  </div>

  <!-- choose category to filter -->

  <div
    class="sm:hidden flex flex-row items-center gap-3 bg-gray-100 px-[1rem] py-2 rounded-lg"
  >
    <select
      class="text-[#4B5563] outline-none text-sm lg:text-lg w-10/12 bg-gray-100"
    >
      <option>Refunded</option>
      <option>Succeeded</option>
      <option select>All payments</option>
    </select>
  </div>

  <div class="hidden sm:block pt-[2rem]">
    <div class="border-b border-gray-200">
      <nav class="-mb-px flex gap-6" aria-label="Tabs">
        <a
          href="#"
          class="shrink-0 border-b-2 border-sky-500 px-1 pb-4 text-sm font-medium text-sky-600"
          aria-current="page"
        >
          All payments
        </a>
        <a
          href="#"
          class="shrink-0 border-b-2 border-transparent px-1 pb-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
        >
          Refunded
        </a>

        <a
          href="#"
          class="shrink-0 border-b-2 border-transparent px-1 pb-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
        >
          Succeeded
        </a>
      </nav>
    </div>
  </div>

  <!-- filter section -->

  <div class="grid grid-cols-1 lg:grid-cols-2 pt-[2rem]">
    <div class="lg:flex flex-row gap-2 pb-[2rem]">
      <div
        class="sm:hidden flex flex-row items-center gap-3 bg-gray-100 px-[1rem] py-2 rounded-lg"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="18"
          height="18"
          class="main-grid-item-icon"
          fill="none"
          stroke="#4B5563"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <circle cx="12" cy="12" r="10" />
          <polyline points="12 6 12 12 16 14" />
        </svg>
        <select
          name=""
          id=""
          class="text-[#4B5563] outline-none text-sm lg:text-lg w-9/12 bg-gray-100"
        >
          <option value="">Date range1</option>
          <option value="">Date range2</option>
          <option value="">Date range3</option>
        </select>
      </div>
      <div
        class="sm:hidden flex flex-row items-center gap-3 bg-gray-100 px-[1rem] py-2 rounded-lg my-10"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="18"
          height="18"
          class="main-grid-item-icon"
          fill="none"
          stroke="#4B5563"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <path d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1z" />
          <line x1="4" x2="4" y1="22" y2="15" />
        </svg>

        <select
          name=""
          id=""
          class="text-[#4B5563] outline-none text-sm lg:text-lg w-9/12 bg-gray-100"
        >
          <option value="">Status1</option>
          <option value="">Status2</option>
          <option value="">Status3</option>
        </select>
      </div>
      <div
        class="sm:hidden flex flex-row items-center gap-3 bg-gray-100 px-[1rem] py-2 rounded-lg"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="18"
          height="18"
          class="main-grid-item-icon"
          fill="none"
          stroke="#4B5563"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <rect height="16" rx="2" ry="2" width="22" x="1" y="4" />
          <line x1="1" x2="23" y1="10" y2="10" />
        </svg>

        <select
          name=""
          id=""
          class="text-[#4B5563] outline-none text-sm lg:text-lg w-9/12 bg-gray-100"
        >
          <option value="">P.Method1</option>
          <option value="">P.Method2</option>
          <option value="">P.Method3</option>
        </select>
      </div>
    </div>
    <div class="flex flex-row gap-3 items-center pb-[2rem]">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon"
        fill="none"
        stroke="#4B5563"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <circle cx="11" cy="11" r="8" />
        <line x1="21" x2="16.65" y1="21" y2="16.65" />
      </svg>
      <input
        type="text"
        placeholder="Search by amount,payment method..."
        class="outline-none bg-white py-2 w-full"
      />
    </div>
  </div>

  <!-- tabs  headline -->

  <div
    class="grid grid-cols-4 lg:grid-cols-6 gap-3 border-t border-gray-300 py-2"
  >
    <div class="space-y-2 hidden lg:block">
      <label for="Option1" class="flex cursor-pointer items-center gap-4">
        <div class="flex items-center">
          &#8203;
          <input
            type="checkbox"
            class="size-4 rounded border-gray-300"
            id="Option1"
          />
        </div>

        <div>
          <h1
            class="text-sm lg:text-lg lg:font-bold text-gray-900 hidden lg:block"
          >
            Payment ID
          </h1>
        </div>
      </label>
    </div>
    <h1 class="text-sm lg:text-lg lg:font-bold text-gray-900">Status</h1>
    <h1 class="text-sm lg:text-lg lg:font-bold text-gray-900">Amount</h1>
    <h1 class="text-sm lg:text-lg lg:font-bold text-gray-900">P.Method</h1>
    <h1
      class="text-sm lg:text-lg lg:font-bold text-gray-900 whitespace-nowrap hidden lg:block"
    >
      Creation Date
    </h1>
    <h1 class="sr-only"></h1>
  </div>

  <!-- tabs content data -->
  <app-payment-overview-data></app-payment-overview-data>
</div>
