<div class="grid grid-cols-1 lg:grid-cols-2 pt-[2rem]">
  <div class="lg:border-r-2 border-gray-300 mr-3">
    <h1 class="text-lg text-black font-semibold">Monthly Orders</h1>
    <!-- line chart here -->
    <div class="lg:mt-[10rem]">line chart here</div>
  </div>
  <div>
    <!-- bar chart here
     -->
    <div class="mt-[10rem]">bar chart here</div>
    <div class="flex flex-row gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon"
        fill="#FECC96"
        stroke="#FECC96"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <circle cx="12" cy="12" r="10" />
      </svg>

      <h1>Weekly Increase in stock levels</h1>
    </div>

    <div class="flex flex-row gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon"
        fill="#F29D43"
        stroke="#F29D43"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <circle cx="12" cy="12" r="10" />
      </svg>

      <h1>Weekly Decrease in stock levels</h1>
    </div>
  </div>
</div>
